<ion-content>
  <br>
  <ion-item>
    <img (click)="pedido()" id="seleciona1" slot="start" src="../assets/fast-food.jpg" />
    <img (click)="pedido()" id="seleciona2" slot="end" src="../assets/fast-food.jpg" />
  </ion-item>
  <ion-item>
    <img (click)="pedido()" id="seleciona1" slot="start" src="../assets/fast-food.jpg" />
    <img (click)="pedido()" id="seleciona2" slot="end" src="../assets/fast-food.jpg" />
  </ion-item>
  <ion-item>
    <img (click)="pedido()" id="seleciona1" slot="start" src="../assets/fast-food.jpg" />
    <img (click)="pedido()" id="seleciona2" slot="end" src="../assets/fast-food.jpg" />
  </ion-item>
  <br><br>
</ion-content>